<launch>

  <node pkg="mediation_layer"
    type="mediation_layer"
    name="mediation_layer"
    output="screen">

    <rosparam param="QuadList"> ["phoenix", "valkyrie", "hippogryph", "harry", "hermione", "ron"] </rosparam>

  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mediation_layer)/rviz_cfg/ML_rviz_config.rviz"/>
</launch>

